@font-face {
	font-family: century gothic;
	src: url("./assets/fonts/CenturyGothic.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	background-color: #ddeeee;
}

header,
main,
footer {
	width: 100%;
	max-width: 1920px;
}

header {
	margin: 0;
	padding: 0;
	display: flex;
	background-color: powderblue;
}

p {
	margin: 20px 0;
	line-height: 1.2;
	font-family: century gothic;
	color: black;
}

b {
	font-family: century gothic;
	font-weight: bold;
}

i {
	font-family: century gothic;
	font-style: italic;
}

.container {
	max-width: 1440px;
	margin: 0;
}

.nav {
	margin: 0 auto;
	padding: 0 40px;
}

.burger-menu {
	position: relative;
	padding: 1rem 0;
	width: fit-content;
	display: none;
	flex-flow: column nowrap;
	gap: 1rem;
}

.burger-line {
	width: 2rem;
	height: 0.2rem;
	background-color: #446677;
	transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

#burger-checkbox {
	position: absolute;
	top: 0;
	left: -1rem;
	margin: 0.5rem;
	width: 2.8rem;
	height: 2.4rem;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}

#burger-checkbox:hover ~ .burger-line {
	background-color: black;
}

#burger-checkbox:checked ~ .line-one {
	transform: rotate(45deg) translate(0.5rem, 0.35rem);
}

#burger-checkbox:checked ~ .line-two {
	transform: rotate(-45deg) translate(0.5rem, -0.35rem);
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.nav-item {
	margin: 10px 0;
}

.nav-link {
	padding: 0 10px;
	line-height: 10px;
	font-size: 14pt;
	font-family: century gothic;
	color: #446677;
	text-decoration: none;
	transition: color 0.2s;
	cursor: pointer;
}

.nav-link:hover {
	color: black;
}

section {
	margin: 0 40px;
	padding-bottom: 30px;
	width: 100%;
	border-bottom: 2px solid;
	border-color: #99bccc;
}

main {
	display: flex;
	flex-wrap: wrap;
}

.section-profile {
	margin: 20px 40px;
	padding-bottom: 30px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	justify-items: center;
	align-items: center;
	border-bottom: 4px solid;
	border-color: #99bccc;
}

.section-title {
	font-size: 24pt;
	font-family: century gothic;
	color: #446677;
}

.section-profile-title {
	padding: 50px;
	display: inline-blok;
	text-align: center;
	font-size: 24pt;
	font-family: century gothic;
	color: #446677;
}

.section-avatar {
	border-radius: 50%;
}

.section-list {
	margin: 0;
	padding-left: 25px;
	list-style: square;
}

.section-link {
	font-family: century gothic;
	color: black;
	text-decoration: none;
	transition: color 0.2s;
	cursor: pointer;
}

.section-link:hover {
	color: #446677;
}

code {
	display: block;
	padding: 20px;
	border: 1px solid #446677;
	background-color: #ccdddd;
	font-family: monospace;
	font-size: 14pt;
}

.list-item {
	padding-left: -20px;
	margin: 10px 0 0;
	list-style: square;
	display: list-item;
	line-height: 1.35;
	font-family: century gothic;
}

.projects-list {
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: flex-start;
	gap: 2rem 3rem;
}

.project-item {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project-thumb {
	width: 200px;
	height: 150px;
	object-fit: cover;
	object-position: top;
}

footer {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: powderblue;
}

.footer-content {
	padding: 0 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-text {
	padding: 0 20px;
	font-size: 14pt;
	font-family: century gothic;
	text-align: center;
	color: #446677;
}

.footer-link {
	padding: 0 20px;
	font-size: 14pt;
	font-family: century gothic;
	color: #446677;
	text-decoration: none;
	transition: color 0.2s;
	cursor: pointer;
}

.footer-link:hover {
	color: black;
}

@media (max-width: 915px) {

	header {
		position: relative;
		height: 4rem;
		justify-content: flex-end;
		overflow-x: clip;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: powderblue;
		transition: transform 0.4s ease-in-out;
		transform: translateX(110%);
		opacity: 0;
	}

	.nav-list {
		padding: 0;
		flex-direction: column;
		justify-content: flex-start;
	}

	.nav-link {
		padding: 0 10px;
		line-height: 20px;
		font-size: 18pt;
	}

	.burger-menu {
		display: flex;
	}

	header:has(#burger-checkbox:checked) nav {
		transform: translateX(0);
		opacity: 1;
	}

	body:has(#burger-checkbox:checked) {
		overflow-y: clip;
	}

	.section-profile-title {
		margin-bottom: 0;
		padding: 20px;
	}
}

@media (max-width: 900px) {
	nav {
		transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
	}
}

@media (max-width: 530px) {
	.projects-list {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 400px) {
	section {
		margin: 0 20px;
	}

	pre {
		display: flex;
	}

	code {
		padding: 10px;
		font-size: 12pt;
	}

	.footer-content {
		justify-content: center;
	}

	.footer-link,
	.footer-text {
		padding: 0;
	}
}
