body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  
	background-color: powderblue;
}

p {
	font-family: century gothic;
	color: black;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}
.nav {
	
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.nav-item {
	
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	font-family: century gothic;
	color: #446677;
	text-decoration: none;
	transition: color 0.3s;
}

.nav-link:hover {
	color: black;
}

.section {
	padding: 50px;
}

.section-profile {
	padding: 50px;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
}

.section-title {
	font-size: 24pt;
	font-family: century gothic;
	color: #446677;
}

.section-profile-title {
	padding: 50px;
	display: inline-blok;
	font-size: 24pt;
	font-family: century gothic;
	color: #446677;
}

.section-avatar {
	border-radius: 50%;
}
